:root{
    --tint:#DDD;
}


html,body{
    background-color: blue;
    /* height:100%;
    overflow: hidden;
    margin: 0;
    padding: 0; */
}
.container{
    background-color: aquamarine;
    width: 1000px;
    height: 850px;
    border:solid black 2px;
    margin: auto;
}

#status{
    background-color: orange;
    width:1000px;
    height: 100px;
    text-align: center;
}

.status-tiles{
    border-radius: 10px 25px 10px 25px;
    margin-left: 4%;
    margin-top: 10px;
    width: 80px;
    height: 60px;
    border: solid 2px blue;
    background-color: white;
    float: left;
}


#can-div{
    background-color: blueviolet;
    height: 750px;
    width: 900px;
    background-image: url('../images/space.png');
    float: left;
}

#tower-select{
    background-color: red;
    width: 100px;
    height: 750px;
    float: left;
}


.selectDisplay{
    background-color: var(--tint);
    border: solid black 2px;
    width: 98px;
    border-radius: 18px;
    height: 80px;
    margin-top: 55px;
  } 












