html,body{
    background-color: yellowgreen;
    /* height:100%;
    overflow: hidden;
    margin: 0;
    padding: 0; */
}
.container{
    background-color: aquamarine;
    width: 1000px;
    height: 850px;
    border:solid black 2px;
    margin: auto;
}

.status{
    background-color: orange;
    width:1000px;
    height: 100px;
    text-align: center;
}

.status-tiles{
    border-radius: 10px 25px 10px 25px;
    margin-left: 4%;
    margin-top: 10px;
    width: 80px;
    height: 60px;
    border: solid 2px blue;
    background-color: white;
    float: left;
}


#can-div{
    background-color: blueviolet;
    height: 750px;
    width: 900px;
    background-image: url('/images/space.png');
    float: left;
}

#tower-select{
    background-color: red;
    width: 100px;
    height: 750px;
    float: left;
}

/* #shipImgDiv0{
    background-color: #DDD;
    border:solid black 2px;
    width:60px;
    height:80px;
    margin-top: 35px;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 20PX;
    border-radius: 5px;
  }
  
  #shipImgDiv1{
    background-color: #DDD;
    border:solid black 2px;
    width:60px;
    height:80px;
    margin-top: 55px;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 20PX;
    border-radius: 5px;
  }
  
  #shipImgDiv2{
    background-color: #DDD;
    border:solid black 2px;
    width:60px;
    height:80px;
    margin-top: 55px;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 20PX;
    border-radius: 5px;
  }
  
  #shipImgDiv3{
    background-color: #DDD;
    border:solid black 2px;
    width:60px;
    height:80px;
    margin-top: 55px;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 20PX;
    border-radius: 5px;
  }
   */
.selectDisplay{
    background-color: #DDD;
    border: solid black 2px;
    width: 98px;
    border-radius: 18px;
    height: 80px;
    margin-top: 55px;
  } 












